streamlit
langchain
langchain-core
langchain-classic
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
docx2txt
beautifulsoup4
ddgs
duckduckgo-search
